name: Update-Surge-Module

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Process
        run: |
          mkdir -p sgmodule
          curl -sL "https://raw.githubusercontent.com/QingRex/LoonKissSurge/refs/heads/main/Surge/广告平台拦截器.sgmodule" -o temp.sgmodule
          sed '/stat\.y\.qq\.com/d; /stat6\.y\.qq\.com/d' temp.sgmodule > sgmodule/广告平台拦截器.sgmodule

      - name: Push
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"
          git add sgmodule/广告平台拦截器.sgmodule
          git diff --cached --quiet || (git commit -m "Update" && git push)
